body {
    background-color:  #141414;
    color: #FFFFFF;
}
.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container:last-of-type {
    margin-bottom: 4rem;
}

/* 'Card' component styling */
.restaurant-cards {
    background-color: #000000;
    margin-right: 2.5rem;
    transition: all 0.3s;
}

.restaurant-cards:hover {
    transform: scale(1.05);
}

.restaurant-cards:last-child {
    margin-right: 0;
}

.card-body {
    background-color:#000000;
    color: white;
}

.card-subtitle {
    margin-top: -0.4rem;
    margin-bottom: 0.4rem;
}

/* 'Card' img styling */
.restaurant-cards-img {
    opacity: 0.9;
}



/* 'Carousel' img styling */
.d-block {
    opacity: 0.85;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}