/* Color Scheme: 1) #141414  2) #18181B   3) #1F1F23  4) #FFFAFA */

body {
    background-color:  #141414;
    color: #EFEFF1;
}
.container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container:first-of-type {
    margin-bottom: 2rem;
}


/* 'Card' component styling */
.restaurant-cards {
    background-color: #000000;
    margin-right: 2.5rem;
    transition: all 0.3s;
    border: none;
}

.restaurant-cards:hover {
    transform: scale(1.05);
}

.restaurant-cards:last-child {
    margin-right: 0;
}

.card-body {
    background-color:#1F1F1F;
    color: #D0CFD2;
}

.card-subtitle {
    margin-top: -0.4rem;
    margin-bottom: 0.4rem;
}

.cards-button {
    background-color: #3A3A3D;
    color: #D0CFD2;
    border: none;
    transition: 0.3s;
}

.cards-button:hover {
    background-color: #464649;
    border: none;
}

/* 'Card' img styling */
.restaurant-cards-img {
    opacity: 0.9;
    max-height: 180px;
}



/* 'Carousel' img styling */
.d-block {
    opacity: 0.85;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
